@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: #24292F;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  color: white;
}
header .fa-bars {
  display: none;
}
header i:not(.fa-square-pen) {
  cursor: pointer;
}
header #left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header #left .fa-github {
  font-size: 2rem;
}
header #left #inp {
  display: flex;
  align-items: center;
  position: relative;
  width: 17rem;
}
header #left #inp input {
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: #24292F;
  border: 1px solid #ACAEB1;
  caret-color: white;
  color: white;
}
header #left #inp input::-moz-placeholder {
  color: #C8C9CB;
  padding: 0.5rem;
}
header #left #inp input::placeholder {
  color: #C8C9CB;
  padding: 0.5rem;
}
header #left #inp label {
  position: absolute;
  right: 0.5rem;
  color: #ACAEB1;
}
header #left #inp label i {
  font-size: 1rem;
}
header #left a {
  color: white;
  font-size: 0.85rem;
  font-weight: 500;
}
header #right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
header #right .fa-plus {
  font-size: 0.8rem;
}
header #right .fa-caret-down {
  font-size: 0.6rem;
  color: white;
}
header #right .fa-bell {
  position: relative;
  font-size: 1rem;
}
header #right .fa-bell::after {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: dodgerblue;
  border-radius: 50%;
  position: absolute;
  right: 1%;
  top: -30%;
}
header #right img {
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}
header i:hover, header a:hover {
  color: #ACAEB1 !important;
}
@media screen and (max-width: 768px) {
  header #right > *:not(.fa-bell) {
    display: none;
  }
  header #left > *:not(.fa-github, .fa-bars) {
    display: none !important;
  }
  header #left {
    justify-content: space-between;
    width: 55%;
  }
  header #left .fa-bars {
    display: block;
    font-size: 1.5rem;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4.5rem auto;
  border-top: 1px solid #D0D7DE;
  gap: 1rem;
}
main #c-left {
  position: relative;
  top: -2rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #c-left #profil {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #c-left #profil img {
  width: 100%;
  border-radius: 50%;
}
main #c-left #profil #name h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
main #c-left #profil #name span {
  font-size: 1.25rem;
  color: #ACAEB1;
}
main #c-left #info {
  font-size: 1rem;
  line-height: 1.5;
}
main #c-left button {
  height: 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  border: 1px solid #D0D7DE;
  cursor: pointer;
  border-radius: 0.5rem;
}
main #c-left #follow, main #c-left #detail {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main #c-left #follow i, main #c-left #detail i {
  width: 1rem;
}
main #c-left #follow p {
  cursor: pointer;
}
main #c-left #follow p span {
  font-weight: bold;
}
main #c-left #follow p:hover {
  color: blue;
}
main #c-right {
  position: relative;
  top: -2rem;
  width: 900px;
  padding: 0 1rem;
}
main #c-right #up {
  padding: 0 0 0.9rem 1.5rem;
}
main #c-right #up a {
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  color: black;
}
main #c-right #up a:hover {
  background-color: rgba(173, 168, 168, 0.3);
  border-radius: 0.5rem;
}
main #c-right #up a i {
  margin-right: 0.5rem;
}
main #c-right #down {
  margin: 2rem 0;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.875rem;
}
main #c-right #down #title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #c-right #down #title a {
  color: black;
  font-size: 0.75rem;
}
main #c-right #down #title a:hover {
  color: blue;
}
main #c-right #down #box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
main #c-right #down #box-container .box {
  padding: 1.5rem 1rem;
  border: 1px solid #D0D7DE;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main #c-right #down #box-container .box .box-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #c-right #down #box-container .box a {
  color: blue;
}
main #c-right #down #box-container .box button {
  padding: 0.2rem;
  border-radius: 0.3rem;
  background-color: transparent;
  border: 1px solid #D0D7DE;
}
main #c-right #down #box-container .box p {
  display: flex;
  align-items: center;
}
main #c-right #down #box-container .box p span {
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: #E34C26;
}
main #c-right #down #box-container .box p #purple {
  background-color: #563D7C;
}
@media screen and (max-width: 768px) {
  main {
    margin: 0;
    border: none;
    gap: 2rem;
  }
  main #c-left {
    top: 0;
    width: auto;
    margin: 1rem;
  }
  main #c-left #profil {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  main #c-left #profil img {
    width: 20%;
  }
  main #c-right {
    position: relative;
    top: -2rem;
    width: auto;
    padding: 1rem;
  }
  main #c-right #up {
    padding: 0;
  }
  main #c-right #up a {
    display: inline-block;
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 0.875rem;
    color: black;
  }
  main #c-right #up a:hover {
    background-color: rgba(173, 168, 168, 0.3);
    border-radius: 0.5rem;
  }
  main #c-right #up a i {
    margin-right: 0.5rem;
  }
  main #c-right #down {
    margin: 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.875rem;
  }
  main #c-right #down #title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main #c-right #down #title a {
    color: black;
    font-size: 0.75rem;
  }
  main #c-right #down #title a:hover {
    color: blue;
  }
  main #c-right #down #box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
  }
  main #c-right #down #box-container .box {
    padding: 1.5rem 1rem;
    border: 1px solid #D0D7DE;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  main #c-right #down #box-container .box .box-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main #c-right #down #box-container .box a {
    color: blue;
  }
  main #c-right #down #box-container .box button {
    padding: 0.2rem;
    border-radius: 0.3rem;
    background-color: transparent;
    border: 1px solid #D0D7DE;
  }
  main #c-right #down #box-container .box p {
    display: flex;
    align-items: center;
  }
  main #c-right #down #box-container .box p span {
    display: inline-block;
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    background-color: #E34C26;
  }
  main #c-right #down #box-container .box p #purple {
    background-color: #563D7C;
  }
}/*# sourceMappingURL=style.css.map */